/* BACKDROP */
.result-modal::backdrop {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
}

/* MODAL */
.result-modal {
  border: none;
  border-radius: 16px;
  padding: 2.2rem 2.5rem;
  background: rgba(248, 97, 21, 0.96);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.3);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ANIMATION */
.result-modal[open] {
  animation: modal-in 0.3s ease-out;
}

@keyframes modal-in {
  from {
    opacity: 0;
    transform: translate(-50%, -55%) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

/* CLOSE BUTTON */
.close-btn {
  position: absolute;
  top: 14px;
  right: 16px;
  border: none;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #32285c;
}

/* LOGIN FORM */
.login-form {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form h2 {
  margin: 0;
  text-align: center;
  color: black ; 
}

.subtitle {
  text-align: center;
  font-size: 0.85rem;
  color: #4a4378;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.form-group label {
  font-size: 0.85rem;
  color: #32285c;
}

.form-group input {
  padding: 0.65rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
}

.form-group input:focus {
  border-color: #6247ea;
  box-shadow: 0 0 0 2px #6247ea33;
}

/* BUTTON */
.login-btn {
  margin-top: 0.6rem;
  padding: 0.7rem;
  border-radius: 12px;
  border: none;
  background: linear-gradient(135deg,white, white);
  color:black;
  font-weight: 600;
  cursor: pointer;
}

/* FOOTER */
.footer-text {
  font-size: 0.8rem;
  text-align: center;
  color: #32285c;
}

.footer-text span {
  font-weight: 600;
  cursor: pointer;
}
